/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #fff;
}

body {
    width: 500px;
    min-height: 350px;
    background: #22438a; /*#006ffa*/
    display: flex;
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
}

.toolWindow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.toolWindow.defaultHidden {
    display: none;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    position: relative;
}

h2 {
    font-size: 16px;
}

#tabCountLabel {
    position: absolute;
    bottom: 6px;
    left: 10px;
}

.statusArea {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
}

.statusHeader {
    font-size: 14px;
    text-align: center;
    visibility: hidden;
}

.statusBar {
    margin-top: 5px;
    width: 150px;
    height: 10px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    visibility: hidden;
}

.statusBar::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 5px;
}

.statusBar::-webkit-progress-value {
    background-color: white;
}

.statusBar::-moz-progress-bar {
    background-color: white;
}

#groupBtn {
    border: 0;
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

#groupBtn:disabled {
    cursor: unset;
}

.button {
    border: 0;
    display: inline-block;
    width: 60px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.button.primary {
    background-color: #fff;
    color: #2e6af9;
}

.button.secondary {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff !important;
}

.button-img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

button:disabled .button-img {
    filter: grayscale(100%);
}

.button:focus {
    outline: none;
}

.generalButton:not(:disabled):hover,
#groupBtn:not(:disabled):hover,
.button:not(:disabled):hover {
    transform: scale(1.1);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

.settings {
    width: 250px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* #005bb5 */
    border-left: 2px solid rgba(0, 0, 0, 0.3); /* #00408a */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.setting-item {
    display: flex;
    margin-bottom: 5px;
}

.setting-item.sub-item {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.setting-item.sub-item.visible {
    display: flex;
}

.setting-item.sub-item2 {
    margin-left: 40px;
}

input:disabled,
select:disabled {
    opacity: 0.7;
}

.setting-item input[type="checkbox"] {
    margin-right: 8px;
}

.setting-item input[type="checkbox"]:checked {
    accent-color: #1086ff;
}

.setting-item input[type="checkbox"]:checked:hover {
    accent-color: #1091ff;
}

.setting-item label {
    margin: 0;
    white-space: nowrap;
    text-align: left;
}

.setting-item input[type="number"],
.setting-item input[type="text"] {
    flex-grow: 1;
    min-width: 0;
    margin-left: 8px;
}

.setting-item input[type="number"]::placeholder,
.setting-item input[type="text"]::placeholder {
    color: #b6b6b6;
}

.setting-item input[type="number"]:disabled::placeholder,
.setting-item input[type="text"]:disabled::placeholder {
    color: transparent;
}

.setting-item.top-item label {
    min-width: 80px;
}

.setting-item.sub-item2 label {
    min-width: 100px;
}

.checkbox-label-input-setting-item {
    min-width: 80px;
    display: flex;
}

.setting-item.top-item2 label {
    min-width: 100px;
}

.checkbox-label-input-setting-item2 {
    min-width: 100px;
    display: flex;
}

.checkbox-label-input-setting-item3 {
    min-width: 100px;
    display: flex;
    margin-bottom: 5px;
}

.checkbox-label-input-setting-item3 label {
    min-width: 80px;
}

.checkbox-label-input-setting-item3 input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-label-input-setting-item3 input[type="text"],
.checkbox-label-input-setting-item3 select {
    flex-grow: 1;
    margin-left: 8px;
    max-width: unset;
    width: 0px;
}

#settingsHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.setting-item.sub-item.dropdown label {
    min-width: 80px;
}

#targetWindowTabs {
    max-width: 120px;
}

.setting-item.top-item input,
.setting-item.top-item2 input,
.setting-item select {
    flex-grow: 1;
    max-width: 140px;
    margin-left: 8px;
}

.setting-item.top-item2 input {
    max-width: 120px;
}

.preview {
    text-align: center;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    white-space: normal;
    word-wrap: break-word;
}

#warnings {
    padding-top: 10px;
    border-top: 1px solid #fff;
    color: #ffe200;
    display: none;
}

#warnings p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#warningText {
    font-size: 12px;
    white-space: pre-wrap;
}

/* Booru Selection */
#settingsHeaderArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}

#booruSelectorArea {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
    width: 140px;
}

#booruEditBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform .2s ease;
    user-select: none;
    width: 15px;
    height: 15px;
}

#booruEditBtn svg {
    width: 100%;
    height: 100%;
    fill: #b6b6b6;
}

#booruAdvancedOptionBtn:hover {
    transform: scale(1.1) rotate(30deg);
}

#booruSelect {
    width: 70px;
    flex-grow: 1;
}

/* Booru setting edit */
#booruEditWindow {
    display: none;
    padding-bottom: 32px;
}

.confirmationArea {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    gap: 7px;
}

#unsafeTagList {
    flex-grow: 1;
    margin-left: 0px;
}

#advancedEditOptions {
    display: none;
}

/* Tool dropdown */
#toolDropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.dropdownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 6px 12px 0px rgb(0 0 0 / 53%);
    z-index: 1;
}

.dropdownOption {
    color: #fff;
    padding: 5px 8px;
    text-decoration: none;
    background: #2b2b2b;
    border: none;
    border-top: solid 1px #535353;
    text-wrap: nowrap;
}

.dropdownOption:not(:disabled):hover {
    background-color: #3f3f3f;
}

.dropdownOption:disabled {
    color: #929292;
    background: #252525;
}

#toolDropdownBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform .2s ease;
    user-select: none;
    width: 25px;
    height: 25px;
}

#toolDropdownBtn svg {
    width: 100%;
    height: 100%;
    fill: #82abff;
}

/* Additional Tools */
.toolWindow.fullPage {
    padding: 45px 100px;
    flex-direction: column;
    justify-content: flex-start;
}

.full input,
.full select {
    flex-grow: 1;
    margin-left: 8px;
    max-width: unset !important;
    width: 0px;
}

.groupCount {
    text-align: center;
    margin-top: 8px;
}

.fullBtn {
    width: 50%;
    align-self: center;
    margin-top: 15px;
    height: 30px;
}

/*# sourceMappingURL=popup.css.map*/
